#container  {
  max-width: 1200px;
  margin: auto;
  .col-xs-2, .col-xs-10 {
    padding: 0;
  }
  ul.products li.product, ul.products li.product {
    margin: 0;
    width: 33.33%;
    padding: 30px;

    @media (max-width: 785px) {
      width: 50%;
    }
    @media (max-width: 561px) {
      width: 100%;
    }
    h2 {
      font-size: 22px;
      @media (max-width: 910px) {
        font-size: 18px;
      }
    }
    p {
      margin: 25px 0;
    }
  }
  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    @extend .button;
  }
  .price {
    float: left;
    text-align: left;
    width: 60px;
    display: block;
    margin-top: 13px;
    font-size: 16px;
    color: black;
  }
  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    float: right;
  }
  .page-numbers {
    border: none;
    background: transparent;
    li {
      border: none;
      background: transparent;
      span, a {
        font-size: 16px;
      }
    }
  }
  a:active, a:focus, a:hover {
    color: black;
  }
  .next {
    display: none;
  }
}

.sidebar {
  padding: 0 !important;
  form {
    width: 100%;
    max-width: 200px;
    margin: auto;
  }
  #selectProductCat {
    height: 300px;
    width: 100%;
    border: none;
    overflow-y: hidden;
    outline: none;
    -webkit-appearance: none;
  }
  .btn-ajax {
    font-size: 22px;
    text-transform: uppercase;
    font-family: Alternate-Gothic;
    margin: 10px auto;
    position: relative;
    border: none;
    background: transparent;
    display: inherit;
    width: 100%;
    &:after, &:before {
      position: absolute;
      top: 50%;
      left: 0;
      content: url('../../images/orn_x.png');
      transform: translateY(-70%);
      opacity: 0;
      visibility: hidden;
      cursor: pointer;

    }
    &:after {
      left: 10%;
      @media (max-width: 910px) {
        left: 15%;
      }
    }
    &:before {
      left: 85%;
      @media (max-width: 910px) {
        left: 80%;
      }
    }

    @media (max-width: 910px) {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .cat-output {
    padding: 10px 0;


    img {

    }
    .cat-cross {
      display: none;
      margin-bottom: 7px;

    }
    .active {
      display: inline-block;
    }
    .specials {
      display: inline-block;
    }
  }
  .cat-name {


  }
  .cat-load {
    visibility: visible;
    opacity: 1;

  }

}
button.btn-ajax.text-center.active-cross:after,
button.btn-ajax.text-center.active-cross:before {
  opacity: 1;
  visibility: visible;
}



